.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 8px;
  zoom: 0.8;
  position: relative;
}

.image {
  object-fit: cover;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.feedback {
  composes: row;
  padding: 8px;
}

.stretch {
  flex: 1;
}

.copy {
  padding: 8px;
}

.fab {
  position: absolute !important;
  right: 16px;
  top: 120px;
}
