.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profileImage {
  border-radius: 50%;
  border: 1px solid #eee;
  height: 64px;
  width: 64px;
  margin-right: 8px;
}
