.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 128px;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  align-items: center;
  background: rgba(60, 60, 60, 0.5);
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.controls,
.track,
.volume {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  color: white;
}

.trackInfo {
  display: flex;
  margin-left: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.controlButton {
  color: white;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.controlIconButton {
  border: 1px solid white !important;
}

.playButton {
  background: transparent;
  border: none;
  color: white;
  width: 32px;
  height: 32px;
  outline: none;
  cursor: pointer;
}

.alignPlay {
  margin-top: 2px;
  margin-left: 4px;
}

.progress {
  background: #ccc;
  height: 6px;
}

.timer {
  position: absolute;
  bottom: 6px;
  font-size: 0.75em;
}

.progressBar {
  height: 6px;
  background-image: linear-gradient(-136deg, #A05E4D 0%, #E1A190 43%, #E9A998 68%, #B15E4A 100%);
}

.volumeControl {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.volumeControlButton {
  background: transparent;
  border: none;
  width: 32px;
  height: 32px;
  color: white;
}
