.container {
  display: flex;
  flex: 1;
}

.inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 72px 220px;
  justify-content: flex-end;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.copy {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.title {
  margin: 16px 0 !important;
}

.paragraph {
  max-width: 500px;
  margin: 16px 0 !important;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1;
}

.form {
  max-width: 500px;
  margin: 16px 0;
}

.image {
  background-size: cover;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 45%;
}
