.container {
  position: relative;
  min-width: 180px;
  min-height: 48px;
}

.button {
  border-radius: 48px !important;
  background-image: linear-gradient(-136deg, #A05E4D 0%, #E1A190 43%, #E9A998 68%, #B15E4A 100%);
  color: white !important;
  height: 100%;
  width: 100%;
}

.disabled {
  opacity: 0.5;
}

.frame {
  background: black;
  border-radius: 48px;
  border: 1px solid #A05E4D;
  height: 100%;
  left: -10px;
  position: absolute;
  top: 10px;
  width: 100%;
}
