.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  padding: 98px 220px;
}

.copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 16px 0;
}

.title {
  margin: 16px 0 !important;
}

.paragraph {
  max-width: 580px;
  margin: 16px 0 !important;
}

.footer {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1;
}
