.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 72px 220px;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.copy {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.user {
  composes: copy;
  align-items: center;
}

.title {
  margin: 16px 0 !important;
}

.paragraph {
  max-width: 250px;
  margin: 16px 0 !important;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
}

.stretch {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.form {
  max-width: 500px;
  margin: 16px 0;
}
