.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 72px 220px;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.copy {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.title {
  margin: 16px 0 !important;
}

.paragraph {
  max-width: 500px;
  margin: 16px 0 !important;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
}

.frame {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #925F51;
}

.spacer {
  flex: 1;
}

.tiles {
  position: relative;
  display: flex;
  max-width: 850px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.favico {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.2;
}

.favico.checked {
  opacity: 1;
}

.icon {
  color: black;
}

.icon.checked {
  color: purple;
}

.tile {
  position: relative;
  background: #333;
  width: 180px;
  height: 180px;
  margin: 4px;
  flex-basis: auto;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
