.container {
  width: 400px;
  height: 400px;
  position: relative;
}

.button {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50% !important;
  overflow: hidden;
}

.progress {
  position: absolute;
  top: 0;
  width: 400px;
  height: 400px;
}

.percent {
  position: absolute;
  bottom: 50px;
  font-size: 18px;
}

.webcamContainer {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 400px;
}

.webcam {
  height: 600px;
  position: absolute;
  width: 600px;
}

.disabled {
  opacity: 0.25;
}
