.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  position: relative;
}

.bar {
  border: 0.5px solid #666;
  flex: 1;
  height: 0px;
  left: 0;
  position: absolute;
  right: 0;
}

.circle {
  height: 6px;
  width: 6px;
  background: #666;
  border-radius: 50%;
}

.waypoint {
  align-items: flex-start;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  position: absolute;
  height: 7px;
  opacity: 0.25;
  border-radius: 8px;
  width: 100%;
}

.rightAlign {
  align-items: flex-end;
}

.small {
  font-size: 0.5em !important;
}

.pullRight {
  display: flex !important;
  flex: 1;
  justify-content: flex-end;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
