.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.input {
  background: black;
  border: 1px solid #925F51;
  padding: 16px;
}

.checkbox {
  color: #925F51 !important;
}

.frame {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #925F51;
}
