html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  background: #262321;
  display: flex;
}

a {
  color: white;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
