.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 16px;
}

.inner {
  display: flex;
  flex-direction: row;
  height: 18px;
}

.progress {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step {
  width: 30px;
  border: 2px solid #444;
}

.active {
  border: 2px solid white;
}

.first {
  margin-right: 8px !important;
}

.last {
  margin-left: 8px !important;
}
