.container {
  flex: 1;
}

.popup {
  display: flex;
  background: white;
  border: 1px solid #ccc;
  width: 600px;
}

.popup > div {
  background: transparent;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  -webkit-box-shadow: none;
  width: 565px;
  position: relative;
}

.popup > div > div {
  width: 100% !important;
}

.popup > div:nth-child(2) {
  display: none;
}

.addressInfo {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
  background: #eee;
  padding: 16px;
}

.summaryCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stretch {
  flex: 1;
}

.marginFix {
  margin: 0 !important;
}

.spaceRight {
  margin-right: 8px;
}

.fab {
  position: absolute;
  right: 0;
  bottom: 106px;
}
