.container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 72px 220px;
  justify-content: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
}

.copy {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.title {
  margin: 16px 0 !important;
}

.paragraph {
  max-width: 500px;
  margin: 16px 0 !important;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
}

.spacer {
  flex: 1;
}

.form {
  max-width: 500px;
  margin: 16px 0;
}
