.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.header {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #ccc;
  padding: 0 64px;
}

.map {
  display: flex;
  flex: 1;
  background: white;
}

.mediaPlayer {
  display: flex;
  width: 100%;
}

.recommendations {
  padding: 16px;
  height: 320px;
  position: absolute;
  bottom: 129px;
  background: white;
  box-shadow: #666 0 0 10px;
  left: 0;
  right: 0;
  z-index: 100000;
}

.recommendationCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.recommendationsHeader {
  display: flex;
  flex-direction: row;
}

.stretch {
  flex: 1;
}
